
.left-side.collapse-left {
  left: 0px;
  width: 50px;
}

.left-side {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.menu-item {
  padding-left: 8px;
}

.navbar-static-side ul li {
  border-bottom: 1px solid #e7e7e7;
}
.navbar-static-side ul li a {
  color: #686969;
}
.navbar-static-side ul li a:hover {
  background-color: #dbdbdb;
}
.navbar-static-side ul li.toggle {
  padding: 10px 15px;
  text-align: right;
}
.navbar-static-side ul li.toggle a.btn {
  border-radius: 0;
  display: inline-block;
  padding: 5px 10px;
  background-color: #e8e8e8;
}
body.toggled-sidebar #page-wrapper {
  margin: 0 0 0 50px;
}
body.toggled-sidebar .navbar-static-side {
  width: 50px;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li {
  background-color: #f5f5f5;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li a .menu-item {
  display: none;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li a .fa.arrow {
  display: none;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li a:hover .menu-item {
  display: inline-block;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li a:hover .fa.arrow {
  display: inline-block;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li:hover {
  width: 250px;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li ul.nav-second-level.in,
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li ul.nav-third-level.in {
  display: none;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li:hover a .menu-item {
  display: inline-block;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li:hover ul.nav-second-level.in,
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li:hover ul.nav-third-level.in {
  display: block;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li.toggle {
  padding: 10px 0;
  text-align: center;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse ul.nav li.toggle:hover {
  width: 50px;
}
body.toggled-sidebar .navbar-static-side .sidebar-collapse .system-details {
  display: none;
}
.fa.arrow {
  float: right;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
  padding-left: 37px;
}
.nav-third-level li a {
  padding-left: 52px;
}

