/* ========================================================================= */
/* S T A N D A R D  H T M L  T A G S */
/* ========================================================================= */

/* Overrides Start */

.btn {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.btn {
	font-family: 'Arial' !important;
}

/* Override button dropdowns in Marketplace */
.btn .caret {
	margin-left: 5px;
}

/* Selector category in LHS menu */
.btn-default.active {
  background-color: #ebebeb!important;
}
.btn-secondary {
  background-color: #efefef;
  border-color: #efefef;
  color: #333333;
}
.btn-secondary:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

body > .header .logo {
    font-family: Arial;
}

/* Overrides End */

#action-selected {
  font-weight: bold;
  font-style: italic;
}
.theme-infobox {
  margin-top: 30px;
  margin-bottom: 10px;
}
.theme-infobox-title {
  margin-bottom: 10px;
  font-weight: bold;
}
.theme-summary-table-action {float: right; padding: 10px 10px 0px 0px}

.theme-navbar-category {
  font-size: 15px;
}
.theme-star {
  color: #cccccc;
}
.theme-star.on {
  color: #e1852e;
}

.theme-center-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.theme-hidden, .cos7-hidden {
  display: none;
}
.theme-smaller-text {
  font-size: .75em;
}

.theme-app-logo-container {
  width: 144px;
}
.theme-page-splash-container {
  margin-top: 150px; 
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.theme-app-logo {
  font-size: 55pt;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
}
.theme-app-logo.sm {
  font-size: 35pt;
}
.theme-screenshot-img {
  max-width: 160px;
  max-height: 120px;
  min-width: 160px;
  min-height: 120px;
  padding-left: 10px;
}
.theme-full-width {
  width: 100%;
}
.theme-errmsg-separator {
  margin: 20px 20px 0px 20px;
}
.theme-copyright {
  padding: 50px;
  color: #ffffff;
  text-align: center;
  background-color: #454545;
}
.theme-content {
  padding-bottom: 50px;
}
.theme-review {
  padding-top: 10px;
}
.theme-review-reviewer, .theme-review-rating {
  float: left;
}
.theme-review-reviewer {
  padding-right: 10px;
}
.theme-review-title {
  float: left;
  width: 80%;
}
.theme-review-title-highlight {
  font-weight: bold;
}
.theme-review-mod {
  float: left;
  width: 5%;
}
.theme-breadcrumb {
  float: left;
}
.theme-breadcrumb-links {
  float: right;
  font-size: 1.7em;
  padding-right: 10px;
}
.theme-breadcrumb-links a {
  padding-left: 12px;
}
.theme-infobox-buttons {
  text-align: center;
  margin-top: 10px;
}
.cos7-text-bad-status {
  color: red;
}

/* ===================== */
/* M A R K E T P L A C E */
/* ===================== */

.marketplace-app-info-container .box-header .box-title {
  max-height: 14px;
}
.marketplace-app-info {
  margin-top: -12px;
}
.marketplace-about {
  padding-top: 10px;
}
.marketplace-about-field {
  text-transform:uppercase;
  color: #e1852e;
}
.marketplace-about-value {
  text-transform:capitalize;
}
.marketplace-devel-container {
  margin-left: 20px;
}
.marketplace-devel-icon {
  float: left;
  width: 20px;
  color: #e1852e;
}
.marketplace-devel-field {
  float: left;
  padding-right: 15px;
  font-weight: bold;
}
.marketplace-comment-box {
  width: 100%;
  min-height: 80px;
}
.marketplace-app {
  width: 48%;
  margin: 10px;
  float: left;
  overflow: hidden;
}
.marketplace-related-app {
  width: 48%;
  margin: 10px;
  float: left;
}

.marketplace-app-info-icon {
  float: left;
  font-size: 3.5em;
  text-align: center;
  width: 90%;
}
.marketplace-app-info-icon .box {
  margin-bottom: 5px;
}
.marketplace-app-info-rating {
  width: 90%;
}
.marketplace-app-info-price {
  width: 90%;
}

.marketplace-app-info-more {
  text-align: right;
}

.marketplace-app-info-description {
  max-height: 100px;
  min-height: 100px;
}
.marketplace-app-loading {
  margin-top: 100px;
}

.marketplace-installed, .marketplace-installed-tile {
  display: block;
  position: absolute;
  text-align: center;
  opacity: 0.8;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  transform:         rotate(45deg);
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  background-color: #98bb60;
  border: 1px solid white;
  z-index: 500;
}

.marketplace-installed-tile {
  top: 15px;
  left: 25px;
  width: 104px;
  height: 22px;
  line-height: 22px;
}

.marketplace-installed {
  top: 35px;
  left: 360px;
  width: 180px;
  height: 32px;
  line-height: 32px;
}
.marketplace-selected {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}
.marketplace-selected i {
  color: green;
  font-size: 1.6em;
}
.marketplace-filter {
  min-width: 100px;
}

.marketplace-app-lhs {
  float: left;
  width: 20%;
  text-align: center;
}
.marketplace-app-rhs {
  float: left;
  width: 380px; /* Don't change to percent...borks dotdotdot plugin */
}

.cos7-text-good-status {
  color: green;
}
.cos7-box-tools {
  float: right;
  padding: 10px 10px;
}

.theme-support-type {
  display: inline;
}
.theme-support {
  padding-right: 1px;
}
.theme-support-0 {
  color: #dddddd;
}
.theme-support-1 {
  color: #ffff66; 
}
.theme-support-2 {
  color: #98bb60; 
}
.theme-support-4 {
  color: #008080;
}
.theme-support-8 {
  color: #e1852e;
}
.theme-support-16 {
  color: #000000;
}

.dashboard-delete-element {
  font-size: 2em;
  color: red;
  position: absolute;
  right: -10px;
  top: -15px;
}
.dashboard-delete-element:hover {
  color: red !important;
  -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
  filter:alpha(Opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

/*
.sidebar .sidebar-menu > li > a {
  padding: 4px 5px 4px 15px;
}
*/

/* ------------------------------------------------------------------------- */
/* Marketplace and Registration */
/* ------------------------------------------------------------------------- */

/* TODO: Markeplace and Registration merge */

.marketplace-header {
    height: 65px;
    margin-left: -8px;
    background-image: url('../images/marketplace-header-bg.png');
    border-bottom: 1px solid #d1d3d4;
    margin-top: 10px;
    padding-right: 10px;
}

.marketplace-footer {
    height: 10px;
    height: 5px;
    clear: both;
}

.marketplace-unavailable {
    border:none;
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
    filter:alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.form-input-ok {
  background-image: url(../images/icon-checkmark.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 2px;
  height: 16px;
  width: 16px;
  float: right;
}

.form-input-fail {
  background-image: url(../images/icon-xmark.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 16px;
  width: 16px;
  margin-top: 2px;
  float: right;
}

#pagination-top div {
  padding-top: 5px;
}

#app_list {
  margin-top: 10px;
}

#app_list .theme-button-set {
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 5px;
}

.marketplace-wizard-options {
  border: 1px solid;
  width: 40%;
  padding: 10px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
  height: 95px;
  cursor: pointer;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

.marketplace-wizard-option-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#category-container {
  width: 95%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#marketplace-novice-title {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}
.marketplace-novice {
  padding: 2px;
  display: inline-block;
  font-size: 13px;
}
.marketplace-novice-nav {
  cursor: pointer;
  width:45px;
  height:46px;
  border: 1px solid #DCDCDC;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  background-repeat: no-repeat;  
  background-color: #62799A;
  margin-top: 20px;
}
.marketplace-novice-nav:hover {
  -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter:alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.marketplace-novice-nav.novice-prev {
  float: left;
  background-image: url('../images/prev.png');
  margin-left: 5px;
  background-position: -12px 0px;
}
.marketplace-novice-nav.novice-next {
  float: right;
  margin-right: 5px;
  background-image: url('../images/next.png');
  background-position: 8px 0px;
}
.marketplace-novice.novice-selected {
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
}
#marketplace-novice-step {
  font-size: 8px;
}
.marketplace-category {
  font-size: 12px;
  border: 1px solid;
  width: 100px;
  padding: 10px 5px 10px 5px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  background-color: #62799A;
  color: #FFFFFF;
}
.marketplace-app.marketplace-list {
  width: 45%;
  height: auto;
  text-align: left;
  padding: 5px;
  min-height: 120px;
}
.marketplace-app.marketplace-list.marketplace-selected h2 a:link {
  color: #FFFFFF;
}
.marketplace-app.marketplace-list.marketplace-selected h2 a:visited {
  color: #FFFFFF;
}
.marketplace-app.marketplace-list.marketplace-selected h2 a:hover {
  color: #e1852e;
  ^color: #e1852e;
}

.marketplace-category-selected {
  background-color: #62799A;
  color: #e6e6e6;
}
.marketplace-category-hover {
  background-color: #e6e6e6;
}
.marketplace-hover {
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
    filter:alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.marketplace-linkback a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.marketplace-logo {
  background-image: url('../images/marketplace-logo.png');
  background-repeat: no-repeat;
  height:38px;
  width:256px;
  margin-left: 15px;
  float: left;
  cursor:pointer;
}

.marketplace-progress-spash {
  background-image: url('../images/marketplace-splash.png');
  background-repeat: no-repeat;
  background-position: 0px 25px;
  height:300px;
}
.marketplace-search-bar {
  background-image: url('../images/icon-search.png');
  background-repeat: no-repeat;
  background-position: 0px 2px;
  height: 20px;
  width: 16px;
  cursor: pointer;
  margin-left: 140px;
}
.marketplace-search-bar-cancel {
  background-image: url('../images/icon-cancel.png');
}
.marketplace-search-no-focus:focus {
  outline: none;
}

.marketplace-description-tooltip {
  display:none;
  z-index: 999;
  width: 340px;
  text-align: left;
  background-color: #ffa;
  height: auto;
  padding: 10px 10px;
  font-size:11px;
  border: 1px solid #d1d3d4;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.marketplace-description-tooltip-content {
  padding-right: 10px;
  max-height: 200px;
  overflow: auto;
}

.rbs-progress-spash {
  background-image: url('../images/marketplace-splash.png');
  background-repeat: no-repeat;
  background-position: 0px 5px;
  height:140px;
  padding: 0px;
  float: right;
  width: 280px;
}
#indiv_upgrade {padding-left: 6px; padding-right: 6px; font-family: arial;}

#indiv_upgrade, x:-moz-any-link, x:default {padding-left: 3px; padding-right: 3px;}

#indiv_install {padding-left: 5px; padding-right: 4px;}

.dialog_alert_icon {
  background-image: url('../images/icon-note.png');
  background-repeat: no-repeat;
  background-position: 0px 5px;
  width: 30;
  height: 45;
  float: left;
  position: relative;
}
.dialog_alert_text {
  text-align: left;
  padding-top: 5px;
}

/* Standard links style doesn't exist?  Really? */
a.highlight-link {
  color: #E1852E;
}

a.highlight-link:hover {
  color: #62799A;
}

/* ========================================================================= */
/* L O G I N  O V E R I D E
/* ========================================================================= */

.theme-login-container {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 10%;
}

/* Clear Background colors */
.theme-bg-orange,
.theme-bg-blue,
.theme-bg-green {
  color: #f9f9f9 !important;
}
.theme-bg-orange {
  background-color: #de7921 !important;
}
.theme-bg-blue {
  background-color: #5a6e9f !important;
}
.theme-bg-green {
  background-color: #92af46 !important;
} 

 
/* Clear Fonts */
@font-face {
	font-family: 'clear';
	src:url('../fonts/clear.eot?era4yi');
	src:url('../fonts/clear.eot?#iefixera4yi') format('embedded-opentype'),
		url('../fonts/clear.woff?era4yi') format('woff'),
		url('../fonts/clear.ttf?era4yi') format('truetype'),
		url('../fonts/clear.svg?era4yi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'clear';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wireless:before {
	content: "\e600";
}
.icon-Windows_Settings:before {
	content: "\e601";
}
.icon-web_server:before {
	content: "\e602";
}
.icon-web_proxy:before {
	content: "\e603";
}
.icon-warnings:before {
	content: "\e604";
}
.icon-WARNING:before {
	content: "\e605";
}
.icon-VPN_PPTP:before {
	content: "\e606";
}
.icon-VPN_OpenVPN:before {
	content: "\e607";
}
.icon-VPN_IPsec:before {
	content: "\e608";
}
.icon-VOIP:before {
	content: "\e609";
}
.icon-vectro:before {
	content: "\e60a";
}
.icon-upload_arrow:before {
	content: "\e60b";
}
.icon-triangle_gears:before {
	content: "\e60c";
}
.icon-system1:before {
	content: "\e60d";
}
.icon-System_Resource:before {
	content: "\e60e";
}
.icon-System:before {
	content: "\e60f";
}
.icon-Subscriptions:before {
	content: "\e610";
}
.icon-Software_Updates:before {
	content: "\e611";
}
.icon-Software_Modules:before {
	content: "\e612";
}
.icon-SMTP_Server:before {
	content: "\e613";
}
.icon-Settings_ShutdownRestart:before {
	content: "\e614";
}
.icon-mail_notification:before {
	content: "\e615";
}
.icon-language:before {
	content: "\e616";
}
.icon-date:before {
	content: "\e617";
}
.icon-administrators:before {
	content: "\e618";
}
.icon-server6:before {
	content: "\e619";
}
.icon-server5:before {
	content: "\e61a";
}
.icon-server4:before {
	content: "\e61b";
}
.icon-server3:before {
	content: "\e61c";
}
.icon-server2:before {
	content: "\e61d";
}
.icon-Server_Web:before {
	content: "\e61e";
}
.icon-Server_MySQL:before {
	content: "\e61f";
}
.icon-system_monitor:before {
	content: "\e620";
}
.icon-Server_Mail_Queue:before {
	content: "\e621";
}
.icon-flexshare:before {
	content: "\e622";
}
.icon-configuration_backup:before {
	content: "\e623";
}
.icon-Server_Aliases:before {
	content: "\e624";
}
.icon-SERVER:before {
	content: "\e625";
}
.icon-security_audit:before {
	content: "\e626";
}
.icon-scroll_checkmark:before {
	content: "\e627";
}
.icon-Scanning_Quarantine:before {
	content: "\e628";
}
.icon-Scanning_Antispam:before {
	content: "\e629";
}
.icon-Scanning_Antimalware:before {
	content: "\e62a";
}
.icon-Resources_Services:before {
	content: "\e62b";
}
.icon-Resources_Processes:before {
	content: "\e62c";
}
.icon-Reports_Network:before {
	content: "\e62d";
}
.icon-reports:before {
	content: "\e62e";
}
.icon-registration:before {
	content: "\e62f";
}
.icon-recycle:before {
	content: "\e630";
}
.icon-RBS_100GB:before {
	content: "\e631";
}
.icon-RBS_50GB:before {
	content: "\e632";
}
.icon-RBS_25GB:before {
	content: "\e633";
}
.icon-RBS_10GB:before {
	content: "\e634";
}
.icon-RBS_5GB:before {
	content: "\e635";
}
.icon-radio_tower:before {
	content: "\e636";
}
.icon-Protocol_Filter_Report:before {
	content: "\e637";
}
.icon-Protection_Updates:before {
	content: "\e638";
}
.icon-Print_Flexshares:before {
	content: "\e639";
}
.icon-pie_graph:before {
	content: "\e63a";
}
.icon-Overview_Summary:before {
	content: "\e63b";
}
.icon-org_chart:before {
	content: "\e63c";
}
.icon-open_lock:before {
	content: "\e63d";
}
.icon-network2:before {
	content: "\e63e";
}
.icon-network1:before {
	content: "\e63f";
}
.icon-Network_RADIUS:before {
	content: "\e640";
}
.icon-Network_Multi_WAN:before {
	content: "\e641";
}
.icon-Network_IP_Settings:before {
	content: "\e642";
}
.icon-network_1-to-1NAT:before {
	content: "\e643";
}
.icon-network:before {
	content: "\e644";
}
.icon-Multi_WAN:before {
	content: "\e645";
}
.icon-MailScanning_Greylisting:before {
	content: "\e646";
}
.icon-Mail_Webmail:before {
	content: "\e647";
}
.icon-MAIL:before {
	content: "\e648";
}
.icon-lock:before {
	content: "\e649";
}
.icon-letter_bubble:before {
	content: "\e64a";
}
.icon-letter:before {
	content: "\e64b";
}
.icon-Hardware_Summary:before {
	content: "\e64c";
}
.icon-Hardware_RAID:before {
	content: "\e64d";
}
.icon-groups:before {
	content: "\e64e";
}
.icon-GNVS:before {
	content: "\e64f";
}
.icon-globe:before {
	content: "\e650";
}
.icon-Gateway_Web_Proxy:before {
	content: "\e651";
}
.icon-gateway:before {
	content: "\e652";
}
.icon-FTP_Server:before {
	content: "\e653";
}
.icon-Folder:before {
	content: "\e654";
}
.icon-firewell_incoming:before {
	content: "\e655";
}
.icon-firewell_forwarding:before {
	content: "\e656";
}
.icon-Firewall_Outgoing:before {
	content: "\e657";
}
.icon-Filter_Configuration:before {
	content: "\e658";
}
.icon-encripted:before {
	content: "\e659";
}
.icon-dynamic_dns:before {
	content: "\e65a";
}
.icon-dynamic_vpn:before {
	content: "\e65a";
}
.icon-dropbox:before {
	content: "\e65b";
}
.icon-Down_Arrow:before {
	content: "\e65c";
}
.icon-DNS_Server:before {
	content: "\e65d";
}
.icon-diverging_arrows:before {
	content: "\e65e";
}
.icon-Directory_Password:before {
	content: "\e65f";
}
.icon-account_import:before {
	content: "\e660";
}
.icon-Directory_Domain:before {
	content: "\e661";
}
.icon-DHCP_Server:before {
	content: "\e662";
}
.icon-controls:before {
	content: "\e663";
}
.icon-computers:before {
	content: "\e664";
}
.icon-CLOUD:before {
	content: "\e665";
}
.icon-ClearOS:before {
	content: "\e666";
}
.icon-ClearFoundationLogo:before {
	content: "\e667";
}
.icon-ClearCenterLogo:before {
	content: "\e668";
}
.icon-clear_center1:before {
	content: "\e669";
}
.icon-photo_organizer:before {
	content: "\e66a";
}
.icon-Base_Subscription:before {
	content: "\e66b";
}
.icon-bar_graph:before {
	content: "\e66c";
}
.icon-Bandwidth_Monitor:before {
	content: "\e66d";
}
.icon-antispam_updates:before {
	content: "\e66e";
}
.icon-antimalware_updates:before {
	content: "\e66f";
}
.icon-alarm_clock:before {
	content: "\e670";
}
.icon-Advanced_Print:before {
	content: "\e671";
}
.icon-Access_Control:before {
	content: "\e672";
}
.icon-samba :before {
	content: "\e617";
}
.icon-web-access_control :before {
	content: "\e617";
}






.icon-small .glyph{width: 80px; padding:4px 0 0 ;}

.icon-small [class^="icon-"], .icon-small [class*=" icon-"]
 {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  width: 50px;
  line-height: 50px;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U3ZWFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #e7eaed 50%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#e7eaed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e7eaed 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e7eaed 50%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e7eaed 50%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e7eaed 50%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.icon-large .glyph{width: 130px; padding:4px 0 0 ;}

.icon-large [class^="icon-"], .icon-large [class*=" icon-"]{
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  font-size: 58px;
  padding: 10px;
  text-align: center;
  line-height: 100px;
  width: 100px;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U3ZWFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #e7eaed 50%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#e7eaed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e7eaed 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e7eaed 50%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e7eaed 50%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e7eaed 50%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}



.icon-large .icon-ClearFoundationLogo:before, .icon-large .icon-ClearCenterLogo:before {
  font-size: 60%;
  line-height: 90%;
  position: relative;
  top: -10px;
}


.white.icon-large [class^="icon-"], .white.icon-large [class*=" icon-"], .white.icon-small [class^="icon-"], .white.icon-small [class*=" icon-"]{background: #000;}

.white [class^="icon-"], .white [class*=" icon-"] {  color: #fff;}
